<h1> Phoenix.LiveView.Component   </h1> <section id="moduledoc"> <p>The struct returned by components in .leex templates.</p>
<p>This component is never meant to be output directly into the template. It should always be handled by the diffing algorithm.</p> </section> <section id="summary" class="details-list"> <h1 class="section-heading">  Summary </h1> <h2> Types </h2>
<dl class="summary-types summary">  <div class="summary-row"> <dt class="summary-signature"> <a href="#t:t/0">t()</a> </dt> </div> </dl> </section> <section id="types" class="details-list"> <h1 class="section-heading">  Types </h1> <div class="types-list"> <section class="detail"> <h3 class="detail-header" id="t:t/0">t()<a href="https://github.com/phoenixframework/phoenix_live_view/blob/v0.15.7/lib/phoenix_live_view/engine.ex#L12" class="source">Source</a>
</h3> <section class="docstring"> <h4>Specs</h4> <div class="specs"> <pre data-language="elixir">t() :: %Phoenix.LiveView.Component{
  assigns: map(),
  component: module(),
  id: binary()
}</pre> </div> </section> </section> </div> </section><div class="_attribution">
  <p class="_attribution-p">
    <a href="https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.Component.html" class="_attribution-link" target="_blank">https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.Component.html</a>
  </p>
</div>
